body {
  height: 100vh;
  font-family: "Orbitron";
  background-image: url("https://cdn.pixabay.com/photo/2023/03/15/20/46/background-7855414_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  display: flex;
  color: blanchedalmond;
  align-self: center;
}
.track {
  font-size: larger;
  color: yellow;
}
